# Global owners
* @aldenbronkhorst

# API services
/apps/ai-core-api/ @aldenbronkhorst

# Web portal
/apps/web-portal/ @aldenbronkhorst

# Infrastructure
/infra/ @aldenbronkhorst
/.github/workflows/ @aldenbronkhorst
